
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 210 40% 98%;

    --card: 240 4.8% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 240 10% 4%;
    --popover-foreground: 210 40% 98%;

    --primary: 162 72% 47%;
    --primary-foreground: 222 47% 11%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 162 72% 47%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
